<%- include('../parts/html-head') %> <%- include('../parts/navbar') %>
<div class="container">
	<div class="row">
		<div class="col">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<% for(let i=1; i<=totalPages;i++){ %>
					<li class="page-item <%= i===page?'active':'' %> ">
						<a class="page-link" href="/address_book/<%= i %>"><%= i %> </a>
					</li>
					<% } %>
				</ul>
			</nav>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">name</th>
				<th scope="col">email</th>
				<th scope="col">mobile</th>
				<th scope="col">birthday</th>
				<th scope="col">address</th>
				<th scope="col"><i class="fas fa-edit"></i></th>
				<th scope="col"><i class="fas fa-trash"></i></th>
			</tr>
		</thead>
		<tbody>
			<% for(let i in rows){ %>
			<tr>
				<th scope="row"><%= rows[i].sid %></th>
				<td><%= rows[i].name %></td>
				<td><%= rows[i].email %></td>
				<td><%= rows[i].mobile %></td>
				<td><%= rows[i].birthday %></td>
				<td><%= rows[i].address %></td>
				<td>
					<a href="/address_book/edit/<%= rows[i].sid %>"><i class="fas fa-edit"></i></a>
				</td>
				<td>
					<a href="javascript:delete_it(<%= rows[i].sid %>)"><i class="fas fa-trash"></i></a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<script>
	function delete_it(sid) {
		if (confirm(`Are you sure to delete data with ${sid}?`)) {
			location.href = "/address-book/delete/" + sid;
		}
	}
</script>
<%- include('../parts/html-foot') %>
